/* structure */

html{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  margin: 0;
}
#content{
  width: 960px;
  margin: 0 auto;
  padding: 48px 0;
}
footer{
  position: absolute;
  bottom: 0;

  width: 960px;
  height: 24px;
  margin: 0 auto;
  border-top: 1px solid #888;
  padding: 7px 0 8px;
}

/* pretty */

body{
  font-family: 'PT Sans', serif;
  font-size: 18px;
  text-align: justify;
}
h3{
  border-left: 6px solid #6cf;
  padding-left: 6px;
}
a{
  text-decoration: none;
  color: #29c;
}
a:visited{
  color: #29c;
}
.text-light{
  color: #888;
}

pre{
  margin: 4px 0;
}
code {
  font-family: Menlo, Monaco, Consolas, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 13px;
  line-height: 1.5;
  padding: 1em;
  overflow-x: hidden;
}

#button-copier{
  text-decoration: none;
  cursor: pointer;
  /*font-size: 14px;*/
  color: #29c;
}
#button-copier:hover{
  color: #069;
}
